{% extends 'global/base.html' %}
{% block content %}
  <div class="product-details">
    <h1>{{ product.name }}</h1>
    <p><b>ID:</b> {{ product.id }}</p>
    <p><b>Price:</b> R${{ product.price }}</p>
    <p><b>Category:</b> {{ product.category }}</p>
    <p><b>Owner:</b> {{ product.owner }}</p>
    <p><b>Created Date:</b> {{ product.created_date }}</p>
    <p><b>Description:</b> {{ product.description }}</p>

    {% if product.picture %}
      <p>
        <img src="{{ product.picture.url }}" alt="{{ product.name }}" width="120em">
      </p>
    {% endif %}

  </div>

  <div class="product-links">
    <a href="{% url 'store:update' product.id %}" class="btn btn-link">Update</a>

    <form action="{% url 'store:delete' product.id %}" method="POST">
      {% csrf_token %}

      {% if confirmation == 'no' %}

        <input type="hidden" name="confirmation" value="yes">
        <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
      
      {% else %}
        
        <button class="btn btn-link btn-delete" type="submit">Delete</button>
      
      {% endif %}

    </form>

  </div>
{% endblock content %}
