<header class="header">

    <h1 class="header-heading">
        <a href="{% url 'store:index' %}" class="header-link">Store</a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">

            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a href="{% url "store:create" %}" class="menu-link">Adicionar Produto</a> <!--MUDAR ISSO DEPOIS-->
                </li>
                <li class="menu-item">
                    <a href="{% url 'store:logout' %}" class="menu-link">Logout</a>
                </li>
            {% endif %}

        </ul>
    </nav>

    <div class="search">
        <form action="{% url "store:search" %}" method="GET">
            <input 
            type="search" 
            class="search-input"
            placeholder="Search"
            id="search"
            name="q"
            value="{{ request.GET.q.strip }}"
            >
        </form>
    </div>
</header>